*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    color: #333333;
    text-align: center;
}
h1{
    font-size: 36px;
    color: #1a1a1a;
    text-align: center
}
h2{
    font-size: 28px;
    color: #2c3e50;
    text-align: center
}
h3{
    font-size: 24px;
    color: #34495e;
    text-align: center
}
h4{
    font-size: 20px;
    color: #555555;

}
h5{
    font-size: 18px;
    color: #666666;

}
h6{
    font-size: 16px;
    color: #777777;

}
.destaque{
    font-size: 16px;
    color: #e74c3c;
}
.secao{
    text-align: center;

}
.link-social{
    font-size: 15px;
    color: #16a085;
}
.tecnologia{
    font-size: 14px;
    color: #8e44ad;
}
.nome{
    color: #2980b9;
}
.descricao{
    color: #16a085;
}